/* ==========================================================
   RESET
========================================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ==========================================================
   ESTRUCTURA GENERAL
========================================================== */

html,
body {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;

    /* Altura de la navbar */
    padding-top: 80px;
}

main {
    flex: 1;
}

.icono{
    width: 50px;
    height: 50px;
    object-fit: contain;
}
/* ==========================================================
   TEXTO
========================================================== */

small {
    color: var(--color-gray);
}

