/* ==========================================================
   FOOTER
========================================================== */

:root {
--color-negro-fondo: #000000;
--color-blanco-secundario: #FFFFFF;
--color-naranjatono: #FF5500;
--color-containers: #171A17;

}
.footer-title {
    position: relative;
    display: inline-block;

    color: var(--bs-primary);
    font-weight: 700;
}

.footer-title::after {
    content: "";

    position: absolute;

    left: 0;
    bottom: -8px;

    width: 50px;
    height: 3px;

    background: var(--color-containers);
    border-radius: 5px;
}